//color
$body-bg: #fff7e1;
$heading-color: #9d3413;
$text-color: #7e7e7e;
$orange: #fea002;
$deep-orange: #f38c1f;
$shadow: #AD8A74;


// break points:

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
