html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import "mixins";
@import "variables";
@import "grid";

/* Global Rules */
body{
  width: 100%;
  min-width: 320px;
  background-color: $body-bg;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  line-height: 1.2;
}

#page{
  width: 100%;
  overflow: hidden;
}

.hidden {
  display: none;
}

.w-100{
  width: 100%;
}

.heading,
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  color: $heading-color;
  margin-top: 0;
  margin-bottom: 0;
}

.paragraph,
p{
  color: $text-color;
}

.pink{
  background-color: lightpink;
  height: 600px;
}

/* HEADER */
#main-header{
  padding-top: 30px;
  padding-bottom: 60px;
  .title-wrapper{
    background-color: $orange;
    padding: 30px;
    text-align: center;
    box-shadow: -10px 10px 0 0 $shadow;
  }
}


/* Content */
#content{
  padding-top: 45px;
  padding-bottom: 45px;
  .data-box{
    margin-bottom: 45px;
    .icon-holder{
      cursor: pointer;
      margin: 0 auto;
      position: relative;
      width: 250px;
      height: 250px;
      background-color: $deep-orange;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      padding: 50px;
      img{
        width: 100%;
        height: auto;
      }
      .percentage{
        display: none;
        position: absolute;
        border: 10px solid $body-bg;
        width: 100px;
        height: 100px;
        justify-content: center;
        align-items: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        top: 0;
        right: 0;
        background-color: #F8B609;
        color: #EF780C;
        font-size: 28px;
        &.show{
          display: flex;
          opacity: 0;
          -webkit-animation-name: fadeIn;
          -moz-animation-name: fadeIn;
          -o-animation-name: fadeIn;
          animation-name: fadeIn;
          -webkit-animation-delay: .05s;
          -moz-animation-delay: .05s;
          -o-animation-delay: .05s;
          animation-delay: .05s;
          -webkit-animation-duration: .5s;
          -moz-animation-duration: .5s;
          -o-animation-duration: .5s;
          animation-duration: .5s;
          -webkit-animation-fill-mode: forwards;
          -moz-animation-fill-mode: forwards;
          -o-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
        }
      }
    }

    .description{
      margin: 30px auto 0;
      text-align: center;
      max-width: 490px;

      .data-title{
        margin-bottom: 15px;
      }
      .data-detail{
        min-height: 90px;
        opacity: 0;
        font-size: 14px;
        line-height: 1.5;

        &.show{
          -webkit-animation-name: fadeIn;
          -moz-animation-name: fadeIn;
          -o-animation-name: fadeIn;
          animation-name: fadeIn;
          -webkit-animation-delay: .05s;
          -moz-animation-delay: .05s;
          -o-animation-delay: .05s;
          animation-delay: .05s;
          -webkit-animation-duration: .5s;
          -moz-animation-duration: .5s;
          -o-animation-duration: .5s;
          animation-duration: .5s;
          -webkit-animation-fill-mode: forwards;
          -moz-animation-fill-mode: forwards;
          -o-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
        }
      }
    }
  }
  
  .phone{
    display: none;
  }
}


@-webkit-keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


.usage-wrapper{
  p{
    text-align: center;
  }

  .usage{
    @extend %row;
    width: 100%;
    align-items: flex-end;
    max-width: 490px;
    margin: 0 auto;
    .data-bar{
      @extend %columns;
      @extend %column;
      text-align: center;
      .bar{
        display: block;
        width: 100%;
        background-color: #FEC808;
        position: relative;
        margin-bottom: 15px;
        margin-top: 10px;
        &::after{
          content: '';
          display: block;
          position: absolute;
          width: calc(100% + 30px);
          bottom: -5px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          height: 5px;
          background-color: $deep-orange;
        }
      }
    }
  }
}

@media screen and (min-width: $xl) {
  #content {
    position: relative;
    height: 900px;
    .data-box {
      position: absolute;
      display: flex;
      &::after,
      &::before{
        content: '';
        display: block;
        z-index: -1;
        border-top: 1px dashed;
        position: absolute;
        width: 0;
        height: 0;
      }
      .icon-holder{
        width: 150px;
        height: 150px;
        .percentage{
          height: 75px;
          width: 75px;
          top: -10px;
          right: -10px;
          border-width: 5px;
          font-size: 21px;
        }
      }

      .description{
        margin: 0 0 0 30px;
        text-align: left;
        max-width: 200px;
        background-color: $body-bg;

        .data-title{
          display: none;
          opacity: 0;
          &.show{
            display: block;

            -webkit-animation-name: fadeIn;
            -moz-animation-name: fadeIn;
            -o-animation-name: fadeIn;
            animation-name: fadeIn;
            -webkit-animation-delay: .05s;
            -moz-animation-delay: .05s;
            -o-animation-delay: .05s;
            animation-delay: .05s;
            -webkit-animation-duration: .5s;
            -moz-animation-duration: .5s;
            -o-animation-duration: .5s;
            animation-duration: .5s;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            -o-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
          }
        }
      }


      &#navigation{
        left: 0;
        top: 25px;
        &::after{
          width: 160px;
          left: 200px;
          top: 55px;
          transform: rotate(-5deg);
        }
      }

      &#online-surfing{
        left: 200px;
        top: 285px;
        &::before{
          width: 120px;
          transform: rotate(53deg);
          top: -55px;
          left: -90px;
        }
        &::after{
          width: 140px;
          transform: rotate(-53deg);
          top: -65px;
          left: 105px;
        }
      }

      &#shopping{
        top: 0;
        left: 410px;
        &::after{
          width: 140px;
          left: 195px;
          top: 95px;
          transform: rotate(10deg);
        }
      }

      &#communication{
        top: 300px;
        left: 660px;
        &::before{
          width: 160px;
          transform: rotate(53deg);
          top: -80px;
          left: -115px;
        }
        &::after{
          width: 200px;
          transform: rotate(4deg);
          top: 65px;
          left: -252px;
        }
      }

      &#photography{
        left: 790px;
        top: 75px;
        &::after{
          width: 60px;
          transform: rotate(-56deg);
          top: 190px;
          left: -15px;
        }
      }

      &#relax{
        top: 520px;
        left: 480px;
        &::before{
          width: 140px;
          transform: rotate(46deg);
          top: -34px;
          left: -147px;
        }
        &::after{
          width: 80px;
          transform: rotate(-53deg);
          top: -34px;
          left: 130px;
        }
      }
    }

    .usage-wrapper{
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .phone{
      display: block;
      width: 450px;
      height: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      img{
        width: 100%;
        height: auto;
      }
      .inner{
        position: relative;
        .text{
          position: absolute;
          width: 110px;
          top: 85px;
          left: 230px;
          font-size: 14px;
          color: $text-color;
        }
      }
    }
  }
}
